$primary_color: #242424;
$secondary_color: #595959;
$white: #efefef;

::selection {
  background-color: $secondary_color;
  color: $white;
}

@mixin small {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin medium {
  @media (max-width: 760px) {
    @content;
  }
}

@mixin large {
  @media (max-width: 900px) {
    @content;
  }
}
